---
import Layout from '../layouts/Layout.astro'
import posts from '../data/posts.json'
import Hero from '../components/Hero.astro'
import WorkExerpt from '../components/WorkExerpt.astro'
import WrapperDiagonal from '../components/WrapperDiagonal.astro'
import Quotes from '../components/Quotes.astro'
import NavArrows from '../components/NavArrows.astro'
import CTA from '../components/CTA.astro'
import HeroSVG from '../components/HeroSVG.astro'
---

<Layout title="Leverage STL" namespace="home">

  <!-- Hero -->
  <section data-pin="hero" id="hero" class="hero relative bg-white">
    <div id="hero-inner" class="wrapper grid items-center grid-rows-[var(--site-header-height)_1fr_var(--site-header-height)] bg-darkgray text-white sm:min-h-[50vh] ml:min-h-[800px] lg:h-[90vh]">
      <div class="transition-fade transition-in relative z-20 row-start-2 col-start-1 lg:flex lg:justify-center lg:items-center flex flex-col gap-y-24">

        <!-- Content -->
        <div id="hero-content" class="w-full lg:max-w-[852px] text-left py-32 sm:py-0">
          <h2 data-hero-text class="h1 text-[45px] relative lg:text-[120px] lg:leading-[110px] mb-0 grid grid-cols-1 grid-rows-1">
            <span class="relative z-40 col-start-1 row-start-1 text-outline text-outline--light [.video-unmuted_&]:opacity-0 transition-opacity duration-300 ease-out">We design + <br class="hidden lg:block">build brand experiences</span>
            <span class="relative z-10 col-start-1 row-start-1" aria-hidden="true"><span class="text-outline text-outline--light">We design + <br class="hidden lg:block">build</span> brand experiences</span>
          </h2>
        </div>
        <!-- Video -->
        <div class="w-full h-full z-10 video-container sm:absolute sm:top-0 -mt-[--diagWrapperHeight] sm:mt-0 translate-y-1/2 lg:-mt-48 xl:-mt-40">
          <video data-video data-cursor-enlarge data-cursor-volume class="absolute cursor-none top-full opacity-0" src="/sizzle.mp4" autoplay loop muted playsinline poster="/videoReelThumb.jpg"></video>
        </div>  

      </div>

      <!-- Diagonal -->
      <div class="wrapperCap wrapperCap--top"></div>

      <!-- BG -->
      <!-- <div class="absolute bg-darkgray top-0 left-0 w-full h-full"></div> -->
                
    </div>
  </section>

  <!-- Page Content -->
  <div id="content" class="wrapperDiagonal !pt-0 mt-40 sm:mt-64 lg:mt-20 5xl:-mt-20 short:mt-40">
  <!-- Intro -->
  <section id="intro" data-anim-group data-anim-markers class="mb-20 lg:mb-48 text-darkgray wrapper">
    <div class="lg:max-w-[815px] lg:mx-auto transition-fade">
      <h2 data-revealtext data-anim-elem="revealText" class="mb-8">Strategic design, development, and marketing is kind of our thing.</h2>
      <div data-anim-elem="fadeInUp" data-anim-timing="0.5">
        <p class="large">We believe thoughtful, beautiful design leads to better experiences, and better experiences drive business results. Whether you're refreshing, creating something from scratch, or expanding upon what's already established, we can help. Let's partner together to elevate your brand, website, and content. We'll rely on your industry expertise, while we put our strategic design, development and marketing execution on display.</p>
        <div class="mt-16 hidden lg:block">
          <a id="services-link" class="font-black font-serif text-gold italic text-18 flex justify-center flex-col items-center gap-y-2" href="#services">
            <span>keep scrolling to explore our services and work</span>
            <i class="arrow-down"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
    <!-- Services -->
    <section id="services" data-anim-group class="lg:text-left">
      <div class="wrapper mt-7 transition-fade">
        <h3 data-anim-elem="fillText" class="h1 text-left lg:max-w-md lg:mb-20 grid grid-cols-1 grid-rows-1">
          <span data-filltext="outline" class="relative z-40 col-start-1 row-start-1 text-outline text-outline--dark">Our Services</span>
          <span data-filltext="fill" class="relative z-40 col-start-1 row-start-1">Our Services</span>
        </h3>
      </div>
      <div data-pin="services" data-slider="services" class="bg-darkgray text-white w-full pt-9 pb-16 lg:pt-0 lg:pb-56">

        <div class="servicesContainer grid grid-cols-margins-4 gap-y-8 lg:gap-y-0 lg:grid-cols-margins-12 lg:grid-rows-auto-2">
          <!-- content: branding -->
          <div data-scene="container" id="branding" class="col-start-wrapper col-end-wrapper lg:row-start-2 grid grid-cols-12">
            <!-- copy -->
            <div data-scene="content" class="transition-fade lg:px-16 lg:pt-16 relative col-start-first col-end-last lg:col-start-first lg:col-end-6">
              <figure class="mx-auto w-fit block lg:mx-0">
                <img src="icon-lightbulb.svg" alt="">
              </figure>
              <h3 class="h2 my-4">Branding</h3>
              <p>Branding drives business results. It's the great equalizer, allowing startups to compete with corporate giants. It's also the great differentiator, helping you stand apart from your competition.</p>
              <hr class="border-mediumgray my-8 lg:my-10">
              <ul class="mt-4 mb-8 lg:columns-3 text-16/8 lg:text-18 font-semibold [&>li]:leading-[30px] lg:[&>li]:leading-none lg:[&>li]:mb-4 lg:[&>li]:break-inside-avoid lg:[&>li]:inline-block antialiased text-left mx-auto w-fit lg:mx-0 lg:w-[110%] lg:max-w-[480px]">
                <li>Brand Guidelines</li>
                <li>Logo Design</li>
                <li>Visual Identity</li>
                <li>Brand Voice</li>
                <li>Asset Library</li>
              </ul>
              <!-- more button -->
              <div class="my-10 lg:my-0">
                <span class="button button--slash text-gold font-bold antialiased font-merriweather lg:text-18 italic ease-in-out" data-aos="fade-up">
                  <a href="/work/" class="anchor">
                    <span class="text">more branding work</span>
                    <span class="line line--right"></span>
                    <span class="line line--top"></span>
                    <span class="line line--left line--left--end"></span>
                    <span class="line line--left line--left--start"></span>
                    <span class="line line--bottom"></span>
                  </a>
                </span>
              </div>
            </div>
            <!-- image -->
            <div data-scene="image" data-parallax="" class="lg:-mt-[--site-header-height] lg:px-16 col-start-first col-end-last lg:col-start-6 lg:col-end-last">
              <a class="workTile w-full max-w-[500px] block mx-auto lg:max-w-none h-full" href="#mama-lolas">

                <div class="transition-fade workTile__frame h-0 pb-[112%]">
                  <figure class="workTile__figure relative w-full h-full overflow-hidden">
                    <img class="workTile__img absolute inset-0 w-full h-full object-cover object-right-top" src="/work/mama-lolas/preview.jpg" alt="">
                  </figure>
                  <h3 class="workTile__title">Mama Lola's</h3>
                  <div class="workTile__wedge workTile__wedge--dark workTile__wedge--dark">
                    <i class="arrow-right"></i>
                  </div>
                </div>

              </a>
            </div>
          </div>
          <!-- content: website -->
          <div data-scene="container" id="websites" class="col-start-wrapper col-end-wrapper lg:row-start-2 grid grid-cols-12">
            <!-- copy -->
            <div data-scene="content" class="transition-fade lg:px-16 lg:pt-16 relative col-start-first col-end-last lg:col-start-first lg:col-end-6">
              <figure class="mx-auto w-fit block lg:mx-0">
                <img src="icon-lightbulb.svg" alt="">
              </figure>
              <h3 class="h2 my-4">Websites</h3>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum.</p>
              <hr class="border-mediumgray my-8 lg:my-10">
              <ul class="mt-4 mb-8 lg:columns-3 text-16/8 lg:text-18 font-semibold [&>li]:leading-[30px] lg:[&>li]:leading-none lg:[&>li]:mb-4 lg:[&>li]:break-inside-avoid lg:[&>li]:inline-block antialiased text-left mx-auto w-fit lg:mx-0 lg:w-[110%] lg:max-w-[480px]">
                <li>Brand Guidelines</li>
                <li>Logo Design</li>
                <li>Visual Identity</li>
                <li>Brand Voice</li>
                <li>Asset Library</li>
              </ul>
              <!-- more button -->
              <div class="my-10 lg:my-0">
                <span class="button button--slash text-gold font-bold antialiased font-merriweather lg:text-18 italic ease-in-out" data-aos="fade-up">
                  <a href="/work/" class="anchor">
                    <span class="text">more website work</span>
                    <span class="line line--right"></span>
                    <span class="line line--top"></span>
                    <span class="line line--left line--left--end"></span>
                    <span class="line line--left line--left--start"></span>
                    <span class="line line--bottom"></span>
                  </a>
                </span>
              </div>
            </div>
            <!-- image -->
            <div data-scene="image" data-parallax="" class="lg:-mt-[--site-header-height] lg:px-16 col-start-first col-end-last lg:col-start-6 lg:col-end-last">
              <a class="workTile w-full max-w-[500px] block mx-auto lg:max-w-none h-full" href="#fricks">

                <div class="transition-fade workTile__frame h-0 pb-[112%]">
                  <figure class="workTile__figure relative w-full h-full overflow-hidden">
                    <img class="workTile__img absolute inset-0 w-full h-full object-cover object-right-top" src="/work-fricks-thumb.png" alt="">
                  </figure>
                  <h3 class="workTile__title">Frick's Quality Meats</h3>
                  <div class="workTile__wedge workTile__wedge--dark">
                    <i class="arrow-right"></i>
                  </div>
                </div>

              </a>
            </div>

          </div>
          <!-- content: marketing -->
          <div data-scene="container" id="marketing" class="col-start-wrapper col-end-wrapper lg:row-start-2 grid grid-cols-12">
            <!-- copy -->
            <div data-scene="content" class="transition-fade lg:px-16 lg:pt-16 relative col-start-first col-end-last lg:col-start-first lg:col-end-6">
              <figure class="mx-auto w-fit block lg:mx-0">
                <img src="icon-lightbulb.svg" alt="">
              </figure>
              <h3 class="h2 my-4">Marketing</h3>
              <p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
              <hr class="border-mediumgray my-8 lg:my-10">
              <ul class="mt-4 mb-8 lg:columns-3 text-16/8 lg:text-18 font-semibold [&>li]:leading-[30px] lg:[&>li]:leading-none lg:[&>li]:mb-4 lg:[&>li]:break-inside-avoid lg:[&>li]:inline-block antialiased text-left mx-auto w-fit lg:mx-0 lg:w-[110%] lg:max-w-[480px]">
                <li>Brand Guidelines</li>
                <li>Logo Design</li>
                <li>Visual Identity</li>
                <li>Brand Voice</li>
                <li>Asset Library</li>
              </ul>
              <!-- more button -->
              <div class="my-10 lg:my-0">
                <span class="button button--slash text-gold font-bold antialiased font-merriweather lg:text-18 italic ease-in-out" data-aos="fade-up">
                  <a href="/work/" class="anchor">
                    <span class="text">more marketing work</span>
                    <span class="line line--right"></span>
                    <span class="line line--top"></span>
                    <span class="line line--left line--left--end"></span>
                    <span class="line line--left line--left--start"></span>
                    <span class="line line--bottom"></span>
                  </a>
                </span>
              </div>
            </div>
            <!-- image -->
            <div data-scene="image" data-parallax="" class="lg:-mt-[--site-header-height] lg:px-16 col-start-first col-end-last lg:col-start-6 lg:col-end-last">
              <a class="workTile no-link-style w-full max-w-[500px] block mx-auto lg:max-w-none h-full" href="#muros">

                <div class="transition-fade workTile__frame h-0 pb-[112%]">
                  <figure class="workTile__figure relative w-full h-full overflow-hidden">
                    <div class=""><img class="workTile__img absolute inset-0 w-full h-full object-cover object-right-top" src="/work-muros-thumb.png" alt=""></div>
                  </figure>
                  <h3 class="workTile__title">Muros</h3>
                  <div class="workTile__wedge workTile__wedge--dark">
                    <i class="arrow-right"></i>
                  </div>
                </div>

              </a>
            </div>
          </div>
        </div>
        
        <!-- <div class="lg:col-start-line-6 lg:col-end-wrapper lg:px-16 lg:row-span-3 lg:row-start-1"></div> -->
        
        <!-- swipe -->
        <div class="lg:hidden mt-8 lg:mt-0">
          <div class="flex w-fit mx-auto gap-x-2">
            <NavArrows />
          </div>
          <p class="text-lightgray mt-2">swipe for more services</p>
        </div>
        <!-- background -->
        <!-- <div class="bg-darkgray lg:row-start-2 lg:row-end-last lg:col-start-first lg:col-end-last"></div> -->
      </div>
    </section>

    <!-- Work -->
    <section id="work" class="wrapper my-24 lg:my-48">
      <h3 data-anim-elem="fillText" class="h1 mb-0 text-left grid grid-cols-1 grid-rows-1">
        <span data-filltext="outline" class="transition-fade relative z-40 col-start-1 row-start-1 text-outline text-outline--dark">Our Work</span>
        <span data-filltext="fill" class="transition-fade relative z-40 col-start-1 row-start-1">Our Work</span>
      </h3>
      <div class="grid md:grid-cols-2 mt-12 gap-y-12 md:gap-y-16 md:mt-16 work-columns">
        {posts.map((post) =>
          <WorkExerpt slug={post.slug} title={post.title} img={post.img} tags={post.tags} desc={post.desc} />
        )}
      </div>
      <div class="mt-12 lg:mt-20 transition-fade">
        <span class="button button--slash text-gold font-bold antialiased font-merriweather lg:text-18 italic ease-in-out" data-aos="fade-up">
          <a href="/work/" class="anchor">
            <span class="text">view all work</span>
            <span class="line line--right"></span>
            <span class="line line--top"></span>
            <span class="line line--left line--left--end"></span>
            <span class="line line--left line--left--start"></span>
            <span class="line line--bottom"></span>
          </a>
        </span>
      </div>
    </section>
    <!-- Quotes -->
    <section id="quotes" class="wrapper bg-darkgray text-white pt-24 lg:pt-48 text-left">
      <div class="transition-fade">
        <Quotes class="mb-16 lg:px-16 lg:mb-32" />
      </div>
      <hr class="border-mediumgray">
    </section>
    
    <!-- Blog -->
    <section id="blog" data-anim-group data-anim-timing="-=0.75" data-anim-start="top center" class="bg-darkgray text-white pt-16 pb-28 lg:pt-32 lg:pb-48">
      <div class="wrapper text-left transition-fade">
        <div data-anim-elem="fadeInUp" data-anim-timing="start" class="w-full mb-10 lg:mb-16">
          <h3 class="h4 font-bold">The latest from leverage</h3>
        </div>
        <div class="grid lg:grid-cols-3 gap-x-32">
          <a data-anim-elem="fadeInUp" data-anim-timing="start+=0.25" class="block mb-10" href="/blog/">
            <h5 class="text-24 mb-0">Meet Drew - Senior Web Developer</h5>
            <div class="mt-4 lg:mt-5 text-gold font-serif font-bold text-18 italic flex items-center gap-x-2"><span class="label">read full article</span> <i class="arrow-right !bg-gold"></i></div>
          </a>
          <a data-anim-elem="fadeInUp" data-anim-timing="start+=0.25" class="block mb-10" href="/blog/">
            <h5 class="text-24 mb-0">Brand Guidelines: What, Why & How?</h5>
            <div class="mt-4 lg:mt-5 text-gold font-serif font-bold text-18 italic flex items-center gap-x-2"><span class="label">read full article</span> <i class="arrow-right !bg-gold"></i></div>
          </a>
          <a data-anim-elem="fadeInUp" data-anim-timing="start+=0.25" class="block mb-10" href="/blog/">
            <h5 class="text-24 mb-0">Web Animation Trends We're Lovin'</h5>
            <div class="mt-4 lg:mt-5 text-gold font-serif font-bold text-18 italic flex items-center gap-x-2"><span class="label">read full article</span> <i class="arrow-right !bg-gold"></i></div>
          </a>
        </div>
      </div>
    </section>

    <CTA class="relative z-20" />
  </div>
  
  <div class="wrapperCap wrapperCap--bottom"></div>

</Layout>