---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import WrapperDiagonal from '../components/WrapperDiagonal.astro'

import posts from '../data/posts.json'

import WorkExerpt from '../components/WorkExerpt.astro';
---

<Layout title='Work' namespace="work">
  <Hero>
    <h2 class="h1 text-outline text-outline--light">Our Work</h2>
  </Hero>
  <WrapperDiagonal>

    <div class="-mt-40 wrapper transition-in transition-fade">
      <ul class="flex flex-wrap gap-2 mb-20 [&_li]:leading-none">
        <li class="active"><a href="" class="button button--filter">All Projects</a></li>
        <li><a href="" class="button button--filter">Branding</a></li>
        <li><a href="" class="button button--filter">Web Design + Development</a></li>
        <li><a href="" class="button button--filter">Digital Marketing</a></li>
        <li><a href="" class="button button--filter">Video</a></li>
        <li><a href="" class="button button--filter">Print</a></li>
        <li><a href="" class="button button--filter">Packaging</a></li>
        <li><a href="" class="button button--filter">Photography</a></li>
        <li><a href="" class="button button--filter">Ecommerce</a></li>
        <li><a href="" class="button button--filter">Environmental</a></li>
        <li><a href="" class="button button--filter">B2B</a></li>
        <li><a href="" class="button button--filter">B2C</a></li>
      </ul>
      <div class="grid md:grid-cols-2 gap-y-12 md:gap-x-36 work-columns">
        {posts.map((post) =>
          <div class="workTile">
            <WorkExerpt slug={post.slug} title={post.title} img={post.img} tags={post.tags} desc={post.desc} />
          </div>
        )}
      </div>
    </div>

  </WrapperDiagonal>
</Layout>