---
interface Props {
  group: string;
  id: string;
  label: string;
  type: string;
  content: string;
  class?: string;
  [x: string]: any;
}
const {group, id, label, type, content, class: className, open = false, ...rest} = Astro.props
---

<div class:list={['accordion', className]} {...rest}>
  <input class="accordion__checkbox" type="checkbox" checked={open && "checked"} id=`${group}-${id}`>
  <div class="accordion__inner">
    <label class="accordion__header" for=`${group}-${id}`>
      <div>
        <h3 class="accordion__label">{label}</h3>
        <h4 class="accordion__type">{type}</h4>
      </div>
      <div class="accordion__indicator-wrapper">
        <div class="accordion__indicator"></div>
      </div>
    </label>
    <div class="accordion__content">
      <div class="accordion__content-inner">
        <p set:html={content} />
      </div>
    </div>
  </div>
</div>