---
import { Image } from 'astro:assets';

interface Props {
  id?: string,
  class?: string,
  short?: boolean,
  full?: boolean,
  image?: any,
  alt?: string,
  width?: number,
  height?: number,
}

const { id, class: className, short = false, full = false, image, alt = '', width, height } = Astro.props;
---

<section id={id} class:list={[
  'hero relative grid wrapper bg-darkgray text-white text-left overflow-hidden',
  !short && 'grid-rows-[var(--site-header-height)_1fr_var(--diagWrapperHeight)]',
  short && 'grid-rows-[var(--site-header-height)_1fr_calc(var(--diagWrapperHeight)_/_2)]',
  full && 'min-h-screen',
  className
  ]}>
  <div class="row-start-2 !flex items-center transition-in z-10 pt-20">
    <div class="transition-fade">
      <slot />
    </div>
  </div>
  {image &&
    <div class="absolute top-0 left-0 w-full z-0 row-end-2 after:bg-black after:opacity-25 after:block after:w-full after:h-screen after:top-0 after:left-0 after:z-20 after:absolute">
      <figure class="w-full">
        <Image data-speed="0.5" class:list={['object-cover object-bottom w-full h-screen absolute top-1/2 -translate-y-1/2']} src={image} alt={alt} width={width} height={height} />
      </figure>
    </div>
  }
</section>